# COGS 108 - Data Checkpoint

# Names

- Feifan Li
- Kexin Cheng
- Kesin Chang
- Ziyue Chen

<a id='research_question'></a>
# Research Question

Does the number of people vaccinated in different countries have an effect on the number of new confirmed cases of COVID-19 of those countries?

# Dataset(s)

<h5> Vaccination Rate </h5>

<ol> https://github.com/owid/covid-19-data/blob/master/public/data/vaccinations/vaccinations.csv <br> </ol>

<ol> 1738 observations from 2020/12/13 till 2/3/2021 <br> </ol>

<ol> The variables are location, number of people get vaccines, daily people get vaccines etc. This dataset basically collects people from different countries get vaccined over time</ol>

<ol> Collected by WWO, Stored in csv</ol>

<h5> World New Cases Data </h5>

<ol> https://github.com/owid/covid-19-data/blob/master/public/data/jhu/new_cases.csv <br> </ol>

<ol> 386 observations till 02/10/2021 <br> </ol>

<ol> The variables are date, total new cases around the world, and new cases broken down by 198 countries</ol>

<ol> Collected by Johns Hopkins University, Stored in csv</ol>

<h5> Weekly Data </h5>

<ol> https://github.com/owid/covid-19-data/blob/master/public/data/jhu/biweekly_cases.csv <br> </ol>

<ol> 371 observations till 1/28/2021 <br> </ol>

<ol> The variables are country name and the date.</ol>

<ol> Collected by Johns Hopkins University, Stored in csv</ol>

# Setup

In [5]:
# import library
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# improve resolution
%config InlineBackend.figure_format ='retina'

# Data Cleaning

## Vaccination Rate
For this data set, we need drop a few columns that we will not use for this project like raw vaccinations rate or vaccinations rate per-million.And since we want to use country's full name instead of abbreviation, we also drop the 'iso_code' column. After that, in some small countries, they provide limited amounts of data (many missing values), which may negatively influence our data interpretation. Hence, we decide to remove those countries from the dataset. At last, in order to make sure readers can have better understanding of the data, we rename some columns to be more concise and straightforward.

In [10]:
# reading data from the database
df = pd.read_csv('https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/vaccinations.csv')

# drop columns that we will not use from this project
df = df.drop(columns = ['daily_vaccinations_raw','daily_vaccinations_per_million'],axis=1)

# we decide to use country full name instead of abbreviation
df = df.drop(columns = ['iso_code'],axis=1)

In [11]:
# we drop some countries because the statistics about their countries are nearly none, which will create many Nah data points
df = df.drop(df[df['location'] == 'Algeria'].index)
df = df.drop(df[df['location'] == 'Argentina'].index)
df = df.drop(df[df['location'] == 'Andorra'].index)
df = df.drop(df[df['location'] == 'Bermuda'].index)
df = df.drop(df[df['location'] == 'Iceland'].index)
df = df.drop(df[df['location'] == 'Kuwait'].index)
df = df.drop(df[df['location'] == 'Monaco'].index)
df = df.drop(df[df['location'] == 'Switzerland'].index)
df = df.drop(df[df['location'] == 'Ireland'].index)

# reset the index
df = df.reset_index()
df = df.drop(columns = ['index'])

In [12]:
# rename the columsn for better interpretation
df = df.rename(columns = {'location':'Country','date':'Date','people_vaccinated':'Vaccinated','daily_vaccinations':'Daily_vaccinations',
                         'total_vaccinations_per_hundred':'Total_vaccinations_per_hundred','people_vaccinated_per_hundred':'People_vaccinated_per_hundred',
                         'people_fully_vaccinated_per_hundred':'People_fully_vaccinated_per_hundred','total_vaccinations':'Total_vaccinations',
                         'people_fully_vaccinated':'People_fully_vaccinated'})

# rearrange the columns order
df = df[['Country','Date','Daily_vaccinations','Vaccinated','People_fully_vaccinated','Total_vaccinations','Total_vaccinations_per_hundred',
        'People_vaccinated_per_hundred','People_fully_vaccinated_per_hundred']]

In [13]:
# data after the cleaning
df

,Country,Date,Daily_vaccinations,Vaccinated,People_fully_vaccinated,Total_vaccinations,Total_vaccinations_per_hundred,People_vaccinated_per_hundred,People_fully_vaccinated_per_hundred
0,Albania,2021-01-10,NaN,0.0,NaN,0.0,0.00,0.00,NaN
1,Albania,2021-01-11,64.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Albania,2021-01-12,64.0,128.0,NaN,128.0,0.00,0.00,NaN
3,Albania,2021-01-13,63.0,188.0,NaN,188.0,0.01,0.01,NaN
4,Albania,2021-01-14,66.0,266.0,NaN,266.0,0.01,0.01,NaN
...,...,...,...,...,...,...,...,...,...
2746,World,2021-02-07,4692143.0,69116904.0,17647686.0,132456610.0,1.70,0.89,0.23
2747,World,2021-02-08,4716746.0,70736444.0,18425771.0,135681849.0,1.74,0.91,0.24
2748,World,2021-02-09,6177076.0,72745925.0,19284261.0,148460949.0,1.90,0.93,0.25
2749,World,2021-02-10,5732324.0,76677798.0,22176101.0,156129400.0,2.00,0.98,0.28
2750,World,2021-02-11,5614434.0,78634201.0,23377619.0,160070774.0,2.05,1.01,0.30

In [14]:
df.describe()

,Daily_vaccinations,Vaccinated,People_fully_vaccinated,Total_vaccinations,Total_vaccinations_per_hundred,People_vaccinated_per_hundred,People_fully_vaccinated_per_hundred
count,2.643000e+03,1.593000e+03,9.850000e+02,1.902000e+03,1902.000000,1593.000000,985.000000
mean,1.192178e+05,2.203629e+06,6.386982e+05,2.937995e+06,4.859227,4.268468,1.215147
std,4.742064e+05,7.700613e+06,2.234265e+06,1.255781e+07,9.417360,7.431174,3.413561
min,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000,0.000000,0.000000
25%,1.472500e+03,2.850000e+04,5.815000e+03,2.904400e+04,0.450000,0.470000,0.070000
50%,7.633000e+03,1.676120e+05,2.518500e+04,1.771025e+05,1.810000,1.900000,0.380000
75%,5.303950e+04,7.689500e+05,1.984780e+05,9.574458e+05,4.130000,3.330000,0.980000
max,6.177076e+06,7.863420e+07,2.337762e+07,1.600708e+08,71.190000,45.300000,27.690000

## World New Cases Data
To clean the **world new cases** data, the dates are formatted using the `to_datetime()` function from `pandas`, the dates before 2020-12-13 (the start date that has vaccinations reported) are not included, and the rows where all the columns have missing data are dropped.

In [15]:
# Import world new cases data
new_cases = pd.read_csv("https://raw.githubusercontent.com/zic115/covid-19-data/master/public/data/jhu/new_cases.csv")

In [16]:
# Change "date" to "Date"
new_cases = new_cases.rename(columns = {"date":"Date"})
# Format the dates
new_cases["Date"] = pd.to_datetime(new_cases["Date"])

In [17]:
# Include only dates after 2020-12-13 (inclusive) and reset index
new_cases = new_cases[new_cases["Date"] >= "2020-12-13"].reset_index(drop = True)

In [18]:
# Drop rows where all the columns have missing data
new_cases = new_cases.dropna(how = "all")

In [19]:
# Take a look at new_cases after cleaning
new_cases.head()

,Date,World,Afghanistan,Africa,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,...,United States,Uruguay,Uzbekistan,Vanuatu,Vatican,Venezuela,Vietnam,Yemen,Zambia,Zimbabwe
0,2020-12-13,544274.0,298.0,16222.0,788.0,464.0,50.0,27.0,0.0,3558.0,...,187429.0,528.0,145.0,0.0,0.0,609.0,2.0,0.0,57.0,27.0
1,2020-12-14,523954.0,191.0,11318.0,661.0,495.0,44.0,89.0,0.0,5062.0,...,193151.0,321.0,138.0,0.0,0.0,339.0,5.0,1.0,48.0,112.0
2,2020-12-15,636389.0,234.0,18002.0,809.0,468.0,0.0,85.0,0.0,6981.0,...,209189.0,389.0,147.0,0.0,0.0,355.0,3.0,1.0,106.0,164.0
3,2020-12-16,732766.0,209.0,21225.0,637.0,442.0,64.0,45.0,3.0,6843.0,...,245740.0,475.0,297.0,0.0,0.0,237.0,0.0,0.0,28.0,227.0
4,2020-12-17,738690.0,217.0,20508.0,787.0,426.0,20.0,77.0,0.0,7326.0,...,239077.0,543.0,0.0,0.0,0.0,364.0,2.0,2.0,48.0,117.0

In [20]:
# Determine the shape
new_cases.shape

(60, 200)

In [21]:
# Determine the column names
new_cases.columns

Index(['Date', 'World', 'Afghanistan', 'Africa', 'Albania', 'Algeria',
       'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina',
       ...
       'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican',
       'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype='object', length=200)

In [22]:
# Describe the statistics
new_cases.describe()

,World,Afghanistan,Africa,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,...,United States,Uruguay,Uzbekistan,Vanuatu,Vatican,Venezuela,Vietnam,Yemen,Zambia,Zimbabwe
count,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,...,60.000000,60.000000,60.000000,60.0,60.0,60.000000,60.000000,60.000000,60.000000,60.000000
mean,591235.183333,119.550000,22384.850000,682.150000,302.400000,51.066667,67.483333,3.366667,8440.533333,353.066667,...,184422.850000,626.633333,73.766667,0.0,0.0,404.983333,11.600000,0.833333,789.266667,394.083333
std,123315.532909,194.260914,6903.109564,245.278246,96.428106,30.371076,32.853291,6.305679,3135.294269,267.908084,...,52755.620332,211.502852,49.031766,0.0,0.0,121.651000,21.693708,1.122447,555.316488,330.767740
min,315510.000000,0.000000,11318.000000,0.000000,0.000000,0.000000,14.000000,0.000000,0.000000,58.000000,...,89581.000000,321.000000,0.000000,0.0,0.0,147.000000,0.000000,0.000000,28.000000,27.000000
25%,514223.000000,46.000000,16759.500000,538.000000,244.500000,35.000000,41.500000,0.000000,6431.500000,157.750000,...,145599.000000,509.750000,45.750000,0.0,0.0,324.500000,1.000000,0.000000,233.750000,122.750000
50%,589404.000000,76.500000,21242.500000,660.500000,262.500000,48.500000,68.000000,0.500000,8203.500000,285.000000,...,188790.500000,586.000000,59.500000,0.0,0.0,412.000000,3.000000,0.000000,857.500000,283.000000
75%,692467.250000,141.000000,27373.000000,867.750000,396.500000,64.000000,89.000000,3.000000,10896.500000,457.250000,...,227323.250000,683.000000,100.750000,0.0,0.0,474.750000,9.250000,1.250000,1260.250000,651.500000
max,858062.000000,1485.000000,36473.000000,1239.000000,495.000000,141.000000,188.000000,34.000000,13835.000000,1174.000000,...,300282.000000,1514.000000,297.000000,0.0,0.0,673.000000,110.000000,5.000000,1796.000000,1365.000000

## Weekly Data
for the weekly data, if a row has only missing values and if a row or a column have nearly all missing values in it (in this case, it means the rows/columns that have over 2/3 missing values out of the total), we will drop it. Also, to compare the different dataset more easily, we will only include the data with the dates that the other datasets have too.

In [28]:
# Import the weekly data
weekly_data = pd.read_csv("https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/jhu/biweekly_cases.csv", index_col=0)
weekly_data.head()

,World,Afghanistan,Africa,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,...,United States,Uruguay,Uzbekistan,Vanuatu,Vatican,Venezuela,Vietnam,Yemen,Zambia,Zimbabwe
date,,,,,,,,,,,,,,,,,,,,,
2020-01-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
# Drop rows where all the columns have missing data, and the rows/columns that too little amount of values
weekly_data = weekly_data.dropna(how = 'all')
weekly_data = weekly_data.dropna(thresh = 128, axis = 1 )
weekly_data = weekly_data.dropna(thresh = 66)

In [25]:
# Drop rows that are not between 2020-12-13 and 2021-02-10
weekly_data = weekly_data.loc['2020-12-13':'2021-02-10']

In [27]:
# Data after cleaning
weekly_data.head()

,World,Afghanistan,Africa,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,...,United Kingdom,United States,Uruguay,Uzbekistan,Vatican,Venezuela,Vietnam,Yemen,Zambia,Zimbabwe
date,,,,,,,,,,,,,,,,,,,,,
2020-12-13,8699168.0,2411.0,215301.0,10905.0,9881.0,626.0,1085.0,7.0,79353.0,13557.0,...,233185.0,2912731.0,3992.0,2086.0,0.0,5746.0,54.0,6.0,666.0,1424.0
2020-12-14,8715001.0,2444.0,216269.0,11009.0,9398.0,637.0,1138.0,7.0,78689.0,13558.0,...,241134.0,2945649.0,4172.0,2000.0,0.0,5731.0,55.0,7.0,675.0,1408.0
2020-12-15,8739464.0,2436.0,223433.0,10986.0,8913.0,592.0,1111.0,6.0,77633.0,13153.0,...,246206.0,2967326.0,4394.0,1965.0,0.0,5859.0,54.0,8.0,763.0,1393.0
2020-12-16,8821714.0,2443.0,228245.0,10918.0,8423.0,604.0,1088.0,7.0,76943.0,12987.0,...,255269.0,3011194.0,4668.0,2203.0,0.0,5650.0,47.0,8.0,756.0,1620.0
2020-12-17,8867595.0,2541.0,233052.0,10923.0,8006.0,562.0,1123.0,7.0,76640.0,12884.0,...,275850.0,3027989.0,4981.0,2107.0,0.0,5533.0,46.0,10.0,774.0,1442.0

# Project Proposal (updated)

| Meeting Date  | Meeting Time| Completed Before Meeting  | Discuss at Meeting |
|---|---|---|---|
| 1/14  | 6 PM  | Form a group of four | Edit, finalize, and submit Project Planning Survey (Due 1/15 11:59pm) |
| 1/21  | 6 PM  | Review the assigned previous project | Edit, finalize, and submit Previous Project Review (Due 1/22 11:59pm) |
| 1/28  |  6 PM | Read & Think about COGS 108 expectations; brainstorm topics/questions/hypothesis; Do background and dataset research; Begin drafting the project proposal; | Edit, finalize, and submit Project Proposal (Due 1/29 11:59pm) | 
| 2/4  | 6 PM  | Explore the datasets; Think about possible wrangling & analysis approaches | Discuss the approaches; Assign group members to lead each specific part |
| 2/11  | 6 PM  | Begin data wrangling | Address any issues encountered; Edit, finalize, and submit Checkpoint #1: Data (Due 2/12 11:59pm) |
| 2/18  | 6 PM  | Begin data analysis & results| Address any issues encountered |
| 2/25  | 6 PM  | Continue data analysis & results; Begin drafting conclusions/discussions | Address any issues encountered; Edit, finalize, and submit Checkpoint #2: EDA (Due 2/26 11:59pm) |
| 3/4  | 6 PM  | Continue drafting conclusions/discussions | Address any issues encountered; Discuss improvements; Plan video recording |
| 3/11  | 6 PM  | Prepare scripts for the final video | Record the final video |
| 3/14  | 6 PM  | Check everything  | Edit, finalize, and submit Final Report, Final Video, and Team Evaluation (Due 3/17 11:59pm) |